<h1>GrantMaster2</h1>

<div id="main">
  <div id="project-list">
    <div>
      <button (click)="loadFile()">Load</button>
      <button (click)="saveFile()">Save</button>
    </div>
    <div (click)="selectMenuItem(-2)"
      [ngClass]="{selected: isSelectedMenuItem(-2)}">
      Budget summary
    </div>
    <div (click)="selectMenuItem(-1)"
      [ngClass]="{selected: isSelectedMenuItem(-1)}">
      New project:
      <input type="text" [(ngModel)]="newProjectName" />
      <button (click)="addProject()">Add</button>
    </div>
    <div *ngFor="#project of stateService.state.database.projects; #id = index"
      (click)="selectMenuItem(id)"
      [ngClass]="{selected: isSelectedMenuItem(id)}"
      class="project-list-item">

      <ProjectItem
        [project]="project"
        [path]="['database', 'projects', state().getSelectedProjectId()]"
        [selected]="isSelectedMenuItem(id)">
      </ProjectItem>

    </div>
  </div>

  <div id="right-view">
    <div id="project-view" *ngIf="state().getSelectedProject()">
      <h2>{{state().getSelectedProject().name}}</h2>
      <div id="project-top">
        <div id="project-income-list">
          <h3>Incomes</h3>

          <Spreadsheet
            [list]="state().getSelectedProject().incomes"
            [columns]="incomeColumns"
            [path]="['database', 'projects', state().getSelectedProjectId(), 'incomes']"
            [newItemPath]="['database', 'projects', state().getSelectedProjectId(), 'newIncome']">
          </Spreadsheet>
        </div>
        <div id="project-budget-list">
          <h3>Budget</h3>
          <Spreadsheet
            [list]="state().getSelectedProject().categories"
            [columns]="state().categoryColumns"
            [path]="['database', 'projects', state().getSelectedProjectId(), 'categories']"
            [newItemPath]="['database', 'projects', state().getSelectedProjectId(), 'newCategory']">
          </Spreadsheet>
        </div>
      </div>

      <div id="expense-list">
        <h3>Expenses</h3>
        <Spreadsheet
          [list]="state().getSelectedProject().expenses"
          [columns]="state().expenseColumns"
          [path]="['database', 'projects', state().getSelectedProjectId(), 'expenses']"
          [newItemPath]="['database', 'projects', state().getSelectedProjectId(), 'newExpense']">
        </Spreadsheet>
      </div>
    </div>
    <TagList *ngIf="isSelectedMenuItem(-2)"
      [table]="stateService.state.budgetCategoryTable"></TagList>
  </div>
</div>
