<h1>GrantMaster2</h1>

<div id="main">
  <div id="project-list">
    <div>
      <button (click)="loadFile()">Load</button>
      <button (click)="saveFile()">Save</button>
      <button (click)="loadExample1()">Load Example 1</button>
      <button (click)="loadExample2()">Load Example 2</button>
    </div>
    <div (click)="selectMenuItem(-3)"
      [ngClass]="{selected: isSelectedMenuItem(-3)}">
      Budget summary
    </div>
    <div (click)="selectMenuItem(-2)"
      [ngClass]="{selected: isSelectedMenuItem(-2)}">
      Currencies
    </div>
    <div (click)="selectMenuItem(-1)"
      [ngClass]="{selected: isSelectedMenuItem(-1)}">
      New project:
      <input type="text" [(ngModel)]="newProjectName" />
      <button (click)="addProject()">Add</button>
    </div>
    <div *ngFor="let project of stateService.state.database.projects; let id = index"
      (click)="selectMenuItem(id)"
      [ngClass]="{selected: isSelectedMenuItem(id)}"
      class="project-list-item">

      <ProjectItem
        [project]="project"
        [path]="['database', 'projects', state().getSelectedProjectId()]"
        [selected]="isSelectedMenuItem(id)">
      </ProjectItem>

    </div>
  </div>

  <div id="right-view">
    <ProjectViewer *ngIf="state().getSelectedProject()"
      [project]="state().getSelectedProject()"
      [database]="state().database"
      [path]="['database', 'projects', state().getSelectedProjectId()]"
      [projectUIState]="state().projectUIState"
      [currencyList]="state().database.currencies">
    </ProjectViewer>
    <TagList *ngIf="isSelectedMenuItem(-3)"
      [table]="stateService.state.budgetCategoryTable"></TagList>
    <div *ngIf="isSelectedMenuItem(-2)">
      <h3>Currencies</h3>
      Local currency:
      <CurrencySelector
        [value]="state().database.localCurrency"
        [currencies]="state().database.currencies"
        [path]="['database', 'localCurrency']">
      </CurrencySelector>
      <Spreadsheet
        [list]="state().database.currencies"
        [path]="['database', 'currencies']"
        [table]="state().currencyTable"
        [columns]="state().currencyTable.columns">
      </Spreadsheet>
    </div>
  </div>
</div>
