#main {
  display: flex;
}

#project-list {
  width: 200px;
  border-right: 1px solid blue;
  height: 100%;
}

#right-view {
  flex: 1;
  padding-left: 4px;
}

div.selected {
  background-color: blue;
  color: white;
}



