<div id="project-view">
  <div id="project-top">
    Income cat:
    <BudgetCategorySelector
      [value]="project.incomeCategory"
      [root]="database.getIncomeBudgetCategories()"
      [path]="[path, 'incomeCategory']">
    </BudgetCategorySelector>

    Foreign currency:
    <CurrencySelector
      [value]="project.foreignCurrency"
      [currencies]="currencyList"
      [path]="[path, 'foreignCurrency']">
    </CurrencySelector>
  </div>
  <div>
    <div id="project-top">
      <div id="project-income-list">
        <h3>Incomes</h3>

        <Spreadsheet
          [list]="project.incomes"
          [table]="projectUIState.incomeTable"
          [columns]="incomeColumns"
          [path]="[path, 'incomes']">
        </Spreadsheet>
      </div>
      <div id="project-budget-list">
        <h3>Budget</h3>
        <Spreadsheet
          [list]="project.categories"
          [table]="projectUIState.categoryTable"
          [columns]="categoryColumns"
          [path]="[path, 'categories']">
        </Spreadsheet>
      </div>
    </div>

    <div id="expense-list">
      <h3>Expenses</h3>
      <Spreadsheet
        [list]="project.expenses"
        [path]="[path, 'expenses']"
        [table]="projectUIState.expenseTable"
        [columns]="expenseColumns"
        [rowStyleClasses]="{overshoot: 'overshoot-expense', multiPart: 'multiPart-expense'}">
      </Spreadsheet>
    </div>
  </div>
</div>

