<div *ngIf="!selected" class="left">
  {{project.name}}
</div>

<div *ngIf="selected" class="left">
  <div *ngIf="!editing">
    {{project.name}}
    <button (click)="startEdit()">Edit</button>
  </div>
  <div *ngIf="editing">
    <input type="text" [(ngModel)]="editedProjectName" />
    <button (click)="saveEdit()">Save</button>
    <button (click)="cancelEdit()">Cancel</button>
  </div>
</div>

<div class="right" *ngIf="!editing">
  <FormattedAmount
      [amount]="project.remainingLocalAmount"
      [currency]="localCurrency">
  </FormattedAmount>
</div>

<div class="clear"></div>

