<table class="spreadsheet">
  <tr>
    <td></td>
    <td *ngFor="let column of columns">
      {{column.value}}
    </td>
  </tr>
  <tr>
    <td><button (click)="stateService.addNewItem(table, path)">Add</button>
    <td *ngFor="let column of columns">
      <CellEntry
        [creationMode]="true"
        [column]="column"
        [item]="table.newItem"
        [path]="[table.myPath, 'newItem', column.key]"></CellEntry>
    </td>
  </tr>
  <tr *ngFor="let item of list.reverse(); let i = index" [ngClass]="getCssClassForItem(item)">
    <td><button (click)="stateService.removeItem(path, list.size - i - 1)">Remove</button></td>
    <td *ngFor="let column of columns">
      <CellEntry
        [column]="column"
        [item]="item"
        [path]="[path, list.size - i - 1, column.key]"></CellEntry>
    </td>
  </tr>
</table>
